.app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.app.light {
    background-color: #f1faee;
}

.app.dark {
    background-color: #0d0c18;
}